// System
@import '../../node_modules/nib/lib/nib'
@import 'tools/svgsprite'
@import 'tools/pngsprite'
@import 'tools/sprite'
@import 'tools/ficon'
@import 'settings'


// Helpers
@import 'helpers/mixins'


// Base
@import 'base/animations'
@import 'base/reset'
@import 'base/fonts'
@import 'base/icons'
@import 'base/grid'


// Modules
@import 'modules/header'
@import 'modules/footer'
@import 'modules/form'
@import 'modules/input'
@import 'modules/box'
@import 'modules/btn'
@import 'modules/media'


// Plugins
@import 'plugins/bootstrap'
@import 'plugins/select2'


// Must be deleted
body
	color #ccc
	text-align center
	background url('../img/texture/subtle.png')