// Colors
$body-color = #fff

$red = #c0392b
$blue = #3498db
$green = #2ecc71

$vk-color = #567692
$fb-color = #3b5998
$tw-color = #55acee
$ha-color = #73a5d8
$rs-color = #e5961b


// Fonts
$font-family-1 = sans-serif
$font-family-2 = sans-serif
$font-family-3 = sans-serif
$font-size-default = 16px
$font-color-default = #222
$font-sizes = 5 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 40 50


// Link
$link-color = $blue
$link-hover-color = $red


// Placeholder
$placeholder-color = #bbbbbb


// Grid
$container-width = 1180px
$column-gutter = 20px


// Layout
$footer-height = 100px
$footer-offset = 30px


// Sprite
$sprite-width = 87px
$sprite-height = 140px