doctype html

| <!--[if IE 8]> <html class="lt-ie11 lt-ie10 lt-ie9"> <![endif]-->
| <!--[if IE 9]> <html class="lt-ie11 lt-ie10"> <![endif]-->
| <!--[if IE 10]> <html class="lt-ie11"> <![endif]-->

head

	//- IE Polyfills
	| <!--[if IE]> <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script><![endif]-->
	| <!--[if IE]> <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script><![endif]-->
	| <!--[if IE]> <script src="http://cdnjs.cloudflare.com/ajax/libs/placeholder-shiv/0.2/placeholder-shiv.js"></script><![endif]-->

	//- iOS
	//- meta(name='apple-mobile-web-app-capable' content='yes')
	//- meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
	//- link(href='img/meta/apple-57x57.png' rel='apple-touch-icon' sizes='57x57')
	//- link(href='img/meta/apple-72x72.png' rel='apple-touch-icon' sizes='72x72')
	//- link(href='img/meta/apple-76x76.png' rel='apple-touch-icon' sizes='76x76')
	//- link(href='img/meta/apple-114x114.png' rel='apple-touch-icon' sizes='114x114')
	//- link(href='img/meta/apple-120x120.png' rel='apple-touch-icon' sizes='120x120')
	//- link(href='img/meta/apple-144x144.png' rel='apple-touch-icon' sizes='144x144')
	//- link(href='img/meta/apple-152x152.png' rel='apple-touch-icon' sizes='152x152')
	
	//- Windows 8
	//- meta(name='application-name' content='Title')
	//- meta(name='msapplication-tap-highlight' content='no')
	//- meta(name='msapplication-tooltip' content='Description')
	//- meta(name='msapplication-TileColor' content='#ffffff')
	//- meta(name='msapplication-TileImage' content='img/meta/tile.png')
	//- meta(name='msapplication-starturl' content='http://project.url/')
	//- meta(name='msapplication-square70x70logo' content='img/meta/tile.png')
	//- meta(name='msapplication-square150x150logo' content='img/meta/tile.png')
	//- meta(name='msapplication-square310x310logo' content='img/meta/tile.png')
	//- meta(name='msapplication-wide310x150logo' content='img/meta/tile-wide.png')

	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')

	if process.env.NODE_ENV == "PRODUCTION"
		// build:style prod
		// /build
	else
		// build:style dev
		// /build

	block head

body

	block layout
	
	if process.env.NODE_ENV == "PRODUCTION"
		// build:script prod
		// /build
	else
		// build:script dev
		// /build