// Font sizes
// ===================================================
for i in $font-sizes
	.f-{i}
		font-size unit(i, 'px')


// Weight
// ===================================================
.f-xxs
	font-weight 100

.f-xs
	font-weight 200

.f-s
	font-weight 300

.f-m
	font-weight 500

.f-l
	font-weight 600

.f-xl
	font-weight 800

.f-xxl
	font-weight 900


// Font colors
// ===================================================
.f-white
	color #fff

.f-red
	color $red

.f-blue
	color $blue

.f-green
	color $green


// Decor
// ===================================================
.f-clean
	text-decoration none

.f-under
	text-decoration underline

.f-upp
	text-transform uppercase

.f-low
	text-transform uppercase