// Common
i
	position relative
	display inline-block

.svg
	background-image url('../img/svgsprite.svg') !important

@media only screen and (-webkit-min-device-pixel-ratio: 2)
	.png
		background-image url('../img/pngsprite@2x.png') !important
		background-size $sprite-width $sprite-height