/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.png.png-git {
  background-image: url(../img/pngsprite@1x.png);
  background-position: 0px 0px;
  width: 80px;
  height: 70px;
}
.png.png-twitter {
  background-image: url(../img/pngsprite@1x.png);
  background-position: 0px -70px;
  width: 87px;
  height: 70px;
}
