/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.i.i-git {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 80px;
  height: 70px;
}
.i.i-twitter {
  background-image: url(../img/sprite.png);
  background-position: 0px -70px;
  width: 87px;
  height: 70px;
}
