.svg {
	background-repeat: no-repeat;
	background-image: url(svg/svgsprite.svg);
}

.svg-git {
	background-position: 0 0;
}

.svg-git-dims {
	width: 80px;
	height: 70px;
}

.svg-twitter {
	background-position: 0 -70px;
}

.svg-twitter-dims {
	width: 89px;
	height: 70px;
}

