extends jade/_layout


block head
	title App
	meta(name='keywords' content='')
	meta(name='description' content='')


block content

	h3 Font
	i.fi.fi-git.f-30
	i.fi.fi-git.f-40
	i.fi.fi-git.f-50
	i.fi.fi-git.f-40
	i.fi.fi-git.f-30
	br
	i.fi.fi-twitter.f-30
	i.fi.fi-twitter.f-40
	i.fi.fi-twitter.f-50
	i.fi.fi-twitter.f-40
	i.fi.fi-twitter.f-30

	h3 SVG
	i.svg.svg-git.svg-git-dims
	i.svg.svg-twitter.svg-twitter-dims
	
	h3 PNG
	i.i.i-git
	i.i.i-twitter

	h3 PNG + retina
	i.png.png-git
	i.png.png-twitter