extends jade/_layout


block head
	title App
	meta(name='keywords' content='')
	meta(name='description' content='')


block content

	div
		
		//- Simple png sprite
		i.i.i-git

		//- Retina png sprite
		i.png.png-git

		//- SVG sprite
		i.svg.svg-git.svg-git-dims
		
	div

		//- Iconfont
		i.fi.fi-git.f-30.f-red
		i.fi.fi-git.f-40.f-green
		i.fi.fi-git.f-50.f-blue
		i.fi.fi-git.f-40.f-green
		i.fi.fi-git.f-30.f-red